@media (max-width: 540px) {
    .note-display {
        flex-direction: column;
        text-align: center;
    }
}

/* hide multiline line number */
.katex .tag {
    display: none;
}

#note-navbar {
    margin: 20px 0px;
    justify-content: space-between;
    display: flex;
}

.footnotes ol {
    font-size: calc(var(--font-size) - 3px);
}

.note-display {
    align-items: center;
    display: flex;
    gap: 20px;
}

.note-display b {
    margin-bottom: 0px;
    display: block;
}

.note-display img {
    width: 130px;
}
